In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Arta\Desktop\work\courses\Python_Course\advanced_python\plotly and matplotlib\datasets\athlete_events.csv")

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Exercise 1
History lesson! Malaysia's olympic nationality code is `MAS`. Prior to this, the Federation of Malaya competed under the code `MAL`. Likewise, Sarawak and Sabah competed as North Borneo (`NBO`).

1. In which years did the Federation of Malaya compete in the Olympics?

In [7]:
df.loc[df["NOC"]=="MAL", "Year"].unique()

array([1960, 1956], dtype=int64)

2. How many athletes did they send?

In [9]:
df.loc[df["NOC"]=="MAL", "Name"].nunique()

40

3. Who were the first countries to participate in the Olympic games (as per this dataset)?

4. How many men and women has Malaysia (`MAS`) sent to the Olympics in total? Keep in mind that athletes can participate in multiple events and multiple years. Each person should only ever be counted once.

### Exercise 2
1. How many men and women has Malaysia (`MAS`) sent to the Olympics each year?

    Hint: This is a lot like the previous question except that athletes only count as duplicate now if they compete in multiple events in the same year. An athlete competing in multiple years is no longer duplicate.

### Exercise 3
Let's start looking at some of the numerical data!

1. How many gold medals has each country won? How about Malaysia (`MAS`)?

### Exercise 4
1. What is the median age of gold medalists?

2. What is the median age of gold, silver, and bronze medalists for each individual sport?

3. Look at only swimmers. How has the mean weight of all competitors changed throughout the years?

### Exercise 5
1. What country has the most gold medals in wrestling?

2. How many different types of events have ever been held for fencing?